* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.navbar {
    background: #f7e6ac;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-foll-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa_gem{
    margin-right: 0.5rem;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}


.navbar__item {
    height: 80px;
}

.navbar__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
/* Teenused CSS   #f5edcc */  
.services{
    background: #f5edcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    color: black;
}


.services__cardRight1{
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;


}

.services__cardLeft1{
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 15px
}

.services__cardRight1 button{
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: black;
    position: absolute;
    top: 150px;
    right: 100px;
    cursor: pointer;

}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

}

p {
  display: flex;
  justify-content: center;
  align-items: center;

}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* optional: set a height to center vertically */
  

}


form {
  margin: auto;
  border: 2px solid #ccc; /* add a 1px solid border */
  padding: 20px; /* add some padding for spacing */
  background-color: #f7e6ac; /* set a background color */
  border-radius: 8px;
}

.select{
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  height: 36px;
  width: 94px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-right: 50px;
  text-align: center;
}



.select2{
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  height: 36px;
  width: 94px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}


.type{
  margin-left: 100px;
}

.country{
  margin-left: 15px;
}










.services__cardLeft1 button{
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: black;
    position: absolute;
    top: 150px;
    left: 100px;
    cursor: pointer;
}

.product-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	border: 2px solid black;
	width: 800px;
	height: 200px;
	box-sizing: border-box;
	padding: 20px;
	margin: 0 auto; /* Add this line */
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.product-info {
	margin-right: 50px;
}

.product-info h2 {
	margin: 0 0 10px;
}

.product-info p {
	margin: 0 0 20px;
}

.product-info button {
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: black;
    position: absolute;
    top: 150px;
    margin-left: 100px;
    cursor: pointer;
    
    
}

.product-image img {
	width: 250px;
	height: auto;
    float: left;
    border-radius: 15px;
    
    
}



.product-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 800px;
    height: 200px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
  }
  
  .product-text2 {
    margin-right: 50px;
  }
  
  .product-title2 {
    margin: 0 0 10px;
  }
  
  .product-description2 {
    margin: 0 0 20px;
  }
  
  .product-button2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .product-image2 img {
    width: 300px;
    height: auto;
  }
  
  .product-image2 {
    order: 1;
    margin-left: 50px;
  }
  


  .telli {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.s {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 250px; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }


/* You can remove this page div in your website */
#page{
    width:100%;
    height:100%;
    position:absolute;
  }
  
  /* Our normalize css */
  *{
    margin:0;
    box-sizing: border-box;
  }
  
  /* Our wrapper */
  .wrapper{
    width: 900px;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: center;
    left:50%;
    top:50%;
    transform:translate3d(-50%,-50%,0);
    overflow:hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  /* Our image information */
  .before,
  .after {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    pointer-events:none;
    overflow: hidden;
  }
  
  .content-image{
    height:100%;
  }
  
  .after{
    width:125px;
  }
  
  .scroller{
    width: 50px;
    height:50px;
    position: absolute;
    left:100px;
    top:50%;
    transform:translateY(-50%);
    border-radius:50%;
    background-color: transparent;
    opacity:0.9;
    pointer-events:auto;
    cursor: pointer;
  }
  
  .scroller:hover{
    opacity:1;
  }
  
  .scrolling{
    pointer-events:none;
    opacity:1;
    z-index: 1;
  }
  
  .scroller__thumb{
    width:100%;
    height:100%;
    padding:5px;
  }
  
  .scroller:before,
  .scroller:after{
    content:" ";
    display: block;
    width: 7px;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -3.5px;
    z-index: 30;
    transition:0.1s;
  }
  .scroller:before{
    top:100%;
  }
  .scroller:after{
    bottom:100%;
  }
  
  /* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
  .scroller{
    border: 5px solid #fff;
  }
  .scroller:before,
  .scroller:after{
    background: #fff;
  }